<section id="TopSection" class="contentContainers container-fluid">

	<header id="logo">
        <figure>
            <h2>
                <a routerLink="/start" id="titleLink">
                 <img src="../../assets/Images/HeaderLogo.jpg" width=70 height=35> 
                Planka funchal
                </a>
                    
            </h2>
        </figure>
	</header>
	<nav role="navigation">
		<ul>
    		<li>
                <a routerLink="/menu" routerLinkActive="active">
                    Menu
                </a>
			</li>
            <li>
                <a routerLink="/find_us" routerLinkActive="active">
                    Find us
                </a>
			</li>
			<li>
                <a routerLink="/booking" routerLinkActive="active">
                    Booking
                </a>
			</li>
			<li>
                <a routerLink="/contact" routerLinkActive="active">
                    Contact
                </a>
			</li>
			<li>
                <a routerLink="/gallery" routerLinkActive="active">
                    Gallery
                </a>
			</li>
		</ul>
	</nav>

</section>

<div id="welcomeContainer">
    <div id="welcome">
        <h1>GREAT FOOD<br>GREAT SERVICE<br>GREAT VIEW</h1>
    </div>  
</div>