<section>    
    <article>
        <header>
            <h3>
                Restaurante Planka
            </h3>
        </header>
        <p>
            Pay us a visit and you will be able to enjoy the best view of the Funchal bay (Check our Fotos) while eating tasty meals prepaired with (antibiotic and growth hormone-free) veal so called "Carne Mirandesa". If your preference is fish then we sugest our specialties, the wonderful Tuna fish grilled on charcoal grill or the Oven Baked Cod fish or the salmon.
        </p>
    </article>
    <article class="text-center">
        <header>
            <h5>
                Certificate of Excellence
                <br>2017
            </h5>
        </header>
        <a href="https://www.tripadvisor.com/Restaurant_Review-g189167-d6849594-Reviews-Restaurante_Planka-Funchal_Madeira_Madeira_Islands.html">
            <img src="../../assets/Images/Tripadvisor/Certificate.png">
        </a>
        
    </article>
</section>