h2 {
    margin-bottom: 25px;
    margin-top: 15px;
}
.menuDivider:nth-child(even) {
    background: rgba(120,120,120,0.7);
}
.menuDivider{
    padding: 5px;
}
@media (min-width: 650px) {
    h2:after,
    h2:before{
        content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
        text-decoration:line-through;
        font-family: monospace;
        font-size: 28px;
        margin: 8px;
    }
}