.offset-custom {
    margin:0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
}
.weatherHead{
    background: rgba(120,120,120,0.7);
}

tbody td {
    vertical-align: middle;
}
.table {
    border-bottom: 1px solid white;
}
tr:nth-child(even) {
    background: rgba(120,120,120,0.7);
}

.ifBigWidth {
    display: none;
}
.ifBiggerWidth {
    display: none;
}
/********************* MEDIA QUERYS *************************/

@media (min-width: 525px) {
    .ifBigWidth {
        display: table-cell;
    }
}
@media (min-width: 600px) {
    .ifBiggerWidth {
        display: table-cell;
    }
}